services:
    app-service:
      image: buharovalexander/url-shortener-app-service:latest
      build:
        context: ./services/app-service
        dockerfile: Dockerfile
      networks: [appnet]
    nginx:
      image: nginx:latest
      ports:
        - "80:80"
      volumes:
        - ./services/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      depends_on:
        - app-service
      networks: [appnet]
    cassandra:
      image: cassandra:latest
      environment:
        - CASSANDRA_CLUSTER_NAME=UrlShortenerCluster
      ports:
        - "9042:9042"
      networks: [appnet]
networks:
  appnet: